.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adds space inside the header */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #c7c7c7;
  position: fixed;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.7); 
  backdrop-filter: blur(10px); 
}

/* Logo aligned properly */
.logo {
  margin-left: 2%;
  height: 40px;  /* Adjust height for better consistency */
}

