.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
  font-family: "Arial", sans-serif;
  text-align: center;
  padding: 20px;
}
    
    
    
/* Chat Greeting */
.chatSection {
  margin-top: 50px;
  width: 100%;
}
  
.sparkle {
  width: 20px;
}
  
h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0;
}

.name {
  color: #8a2be2;
  font-weight: bold;
}

p {
  font-size: 14px;
  color: #666;
}
  
